body {
    background-color: #f8f9fa;
}
header {
    background-color: #343a40;
}
footer {
    background-color: #343a40;
}
.card {
    border-radius: 0.5rem;
}
.btn {
    border-radius: 0.5rem;
}
.result {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #e9ecef;
    border-radius: 0.5rem;
}
.list-group {
    padding: 0;
}

.list-group-item {
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.list-group-item:hover {
    background-color: #f8f9fa;
}

#notasList {
    list-style: none;
    padding: 0;
}

#notasList li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #f8f9fa;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

#notasList li:hover {
    background-color: #e9ecef;
}

/* Estilo para la sección de información */
#informacion .card {
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#informacion .card-header {
    background-color: #343a40;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#informacion .card-body {
    background-color: #f8f9fa;
}

#informacion h4 {
    color: #343a40;
    margin-top: 1.5rem;
}

#informacion ul {
    margin-bottom: 1rem;
}

#informacion p {
    color: #495057;
}

#informacion span {
    font-weight: bold;
}
